<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="large">{{ 'PROCESSING_FEEDBACK' | translate }}</ngx-spinner>

<div>
  <h3 class="mt-4 mb-3">
    {{ "FEEDBACK" | translate}}
  </h3>
  <div class="card strong-shadow">
    <form class="card-body p-3" [formGroup]="feedbackForm" (submit)="sendFeedback()">
      <mat-form-field class="w-100">
        <mat-label>{{ "age-range" | translate }}</mat-label>
        <mat-select [formControl]="ageControl" required [(ngModel)]="feedback.ageRange">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let age of ages; index as i" value="{{i}}">
            {{age}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="ageControl.hasError('required')">{{ "age-range-error" | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>{{ "sex-type" | translate }}</mat-label>
        <mat-select [formControl]="sexControl" required [(ngModel)]="feedback.sex">
          <mat-option>--</mat-option>
          <mat-option value="0">{{ "sex.0" | translate }}</mat-option>
          <mat-option value="1">{{ "sex.1" | translate }}</mat-option>
        </mat-select>
        <mat-error *ngIf="sexControl.hasError('required')">{{ "sex-type-error" | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>{{ "marital-status" | translate }}</mat-label>
        <mat-select [formControl]="maritalStatusControl" required [(ngModel)]="feedback.maritalStatus">
          <mat-option>--</mat-option>
          <mat-option value="0">{{ "maritalStatus.1.0" | translate }}</mat-option>
          <mat-option value="1">{{ "maritalStatus.1.1" | translate }}</mat-option>
          <mat-option value="2">{{ "maritalStatus.1.2" | translate }}</mat-option>
          <mat-option value="3">{{ "maritalStatus.1.3" | translate }}</mat-option>
        </mat-select>
        <mat-error *ngIf="maritalStatusControl.hasError('required')">{{ "marital-status-error" | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>{{ "FEEDBACK" | translate}}</mat-label>
        <textarea matInput required placeholder="{{'ENTER_FEEDBACK' | translate}}" [formControl]="feedbackControl" [(ngModel)]="feedback.text" rows="5"></textarea>
        <mat-error *ngIf="feedbackControl.hasError('required')">{{ "feedback-error" | translate }}</mat-error>
      </mat-form-field>

      <button mat-raised-button class="btn btn-primary float-right" type="submit" [disabled]="!feedbackForm.valid">
        {{ "SUBMIT" | translate}}
      </button>
    </form>
  </div>
</div>