<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap px-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0"  routerLink="/feedback">Company name</a>
</nav>


<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 col-lg-2 d-sm-block d-none d-md-block bg-light sidebar" style="min-height: 100vh;">
      <div class="sticky-top sticky-offset">
        <ul class="nav flex-column">
          <li class="nav-item mt-2">
            <a class="nav-link btn btn-light text-left" routerLink="/feedback" routerLinkActive="active"><i class="far fa-comment-dots"></i> Остави обратна връзка</a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link btn btn-light text-left" routerLink="/feedback-results" routerLinkActive="active"><i class='fas fa-poll-h'></i> Резултати от Мнения</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="mt-5 col-md-9 col-lg-10 ml-sm-auto px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
